@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Merriweather-sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121212; 
  background-color: #ffffff; 
}


body.dark-mode {
  background-color: hsl(217.05deg 28.19% 24.9%);
  color: #e0e0e0; 
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.top-content {
  width: 100%;
  margin-bottom: 20px;
}


.description-heading {
  text-align: left; 
  margin: 0;
  padding: 0;
  color: inherit; 
}


.content-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start; 
}


.carousel-container {
  flex: 1;
  max-width: 60%; 
  height: 60vh; 
  display: flex;
  align-items: center; 
  overflow: hidden; 
  position: relative; 
  background-color: #79c0dc; 
}


.carousel-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}


.description-container {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}


.large-text {
  font-size: 1.2em; 
  color: inherit; 
}


.small-bold-text {
  font-size: 0.9em; 
  font-weight: bold; 
  color: inherit; 
}

button.indicator {
  background-color: #333; 
  height: 4px; 
  width: 30px; 
  border: none;
  margin: 0 5px; 
  outline: none;
  box-shadow: none; 
  cursor: pointer;
}

button.indicator.indicator-inactive {
  opacity: 0.5; 
}

button.indicator.indicator-active {
  opacity: 1; 
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.theme-toggle-button {
  margin-left: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #08082e; 
  color: #e0e0e0; 
  border-radius: 5px;
}


@media (max-width: 768px) {
  .content-wrapper {
      flex-direction: column; 
      align-items: center;
  }

  .description-container {
      margin-left: 0; 
      margin-top: 20px; 
  
  }
  .carousel-container {
      max-width: 100%; 
      height: 40vh; 
  }

}nav.navbar-custom {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}



nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px; 
}

nav li {
  margin-right: 20px; 
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #f0f0f0; 
  color: #000; 
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: flex-start;
  }

  nav li {
      margin-right: 0;
      margin-bottom: 10px;
  }

  nav a {
      padding: 10px;
  }
}


