
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121212;
  background-color: #ffffff;
}


body.dark-mode {
  background-color: hsl(217.05deg 28.19% 24.9%);
  color: #e0e0e0;
}


.header-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 20px;
  box-sizing: border-box;
  width: 100%; 
  background-color: inherit; 
}


h1 {
  font-size: 2em;
  margin: 0; 
  color: inherit; 
}


.theme-toggle-button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #08082e;
  color: #e0e0e0;
  border-radius: 5px;
  margin-left: auto; 
  transition: background-color 0.3s ease;
}

.theme-toggle-button:hover {
  background-color: #0056b3;
}

/* Dark Mode Styles for Button */
body.dark-mode .theme-toggle-button {
  background-color: #e0e0e0;
  color: #121212;
}

body.dark-mode h1 {
  color: #e0e0e0;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
  padding: 20px;
}


p {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  color: inherit;
}


.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  margin: auto;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: rgb(229, 228, 179);
}

button.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgb(229, 228, 179);
  margin: 0 0.2rem;
  cursor: pointer;
}


.content-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start; 
}

.carousel-container {
  flex: 1;
  max-width: 60%;
  height: 60vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
  margin: auto; 
}


.carousel-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}


@media (max-width: 768px) {
  .carousel-container {
    height: 40vh; 
  }
}
