body {
    font-family: 'Merriweather Sans', Arial, sans-serif;
    background-color: #f8f9fa; 
    color: #333;
    margin: 0;
    padding-top: 60px; 
}

.navbar-custom {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.photo-details img {
    max-width: 80%;
    height: 350px;
    width: 590px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-details {
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    gap: 20px;
}

.photo-meta {
    flex: 1;
}

.photo-meta h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.photo-meta p {
    font-size: 1rem;
    margin: 0;
    color: #777;
}

.actions {
    margin-top: 20px;
}

.actions button, .actions a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #315173;
    border: none;
    transition: background-color 0.3s ease;
}

.actions button:hover, .actions a:hover {
    background-color: #0056b3;
}

.comment-section {
    margin-top: 40px;
}

.comment-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.comment-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.comment-section form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: vertical;
}

.comment-section form button {
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3e7b4c45;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.comment-section form button:hover {
    background-color: #218838;
}

.comment-section .comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-section .comments-list li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 50vh;
    padding: 20px;
}